.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

body {
  margin: 0px;
}

h2 {
  background: #e7e7e7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  margin: 0px;
  flex-grow: 1; /*distribui os espaços em branco de acordo com o conteúdo*/
  flex-basis: 0;
}
